asgiref
Brotli
cffi
crispy-bootstrap5
cssselect2
Django
django-crispy-forms
fonttools
html5lib
Pillow
pycparser
pydyf
pyphen
six
sqlparse
tinycss2
typing_extensions
weasyprint
webencodings
zopfli